@layer reset, base, tokens, recipes, utilities;

/* custom scrollbar styles */
/* Width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #cecece;
    border-radius: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 0.5rem;
}